@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.data.one, .data.five {
  /* background-color: blue; */
  --color: 0, 0, 0;
  background-color: rgb(var(--color));
}
.data.two, .data.four {
  --color: 15, 15, 15;
  background-color: rgb(var(--color));
}

.data.three {
  --color: 30, 30, 30;
  background-color: rgb(var(--color));
}

/* .data.four {
  --color: 75, 75, 75;
  background-color: rgb(var(--color));
} */

.deep{
  padding: .125rem;
}

.data {
  margin-left: 1rem;
  padding: .25rem;
}

.collapsed{
  height: 0px;
  overflow: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
